.main-demo {
    flex-flow: column wrap;
    align-items: flex-start;

    .title-small {
        font-size: 2rem;
        flex: 1 100%;
        margin: 0 5%;
    }

    .sidebar {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        span {
            width: 100%;
            flex: 1 100%;
            padding: 0rem 0;

            &.filters {
                margin: 5%;
            }
        }

        .chip {
            flex: 1 25%;
        }
    }

    .card-root {
        width: 100%;
        flex-grow: 1;
        overflow: auto;
        flex-flow: column;
        justify-content: flex-start;
    }

    @include atomic-screen(tablet-desktop) {
        flex-flow: row wrap;

        .sidebar {
            display: flex;
            flex-flow: column;
            flex: 0 0 200px;
            max-width: 200px;
            padding: 0px 10px 0px 0px;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 5%;

            .chip {
                flex: 1 40%;
            }
        }

        .card-root {
            flex-wrap: wrap;
            flex-grow: 1;
            overflow: auto;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }

        @include atomic-screen(tablet-only) {
            .card {
                //  max-width: 235px;
                flex: 1 40%;
            }
        }

        @include atomic-screen(tablet-above) {
            .card {
                // max-width: 250px;
                // min-height: 300px;
                flex: 1 20%;
            }
        }

        @include atomic-screen(phone-only) {
            .sidebar {
                flex-flow: row;

                p {
                    width: 100%;
                }
            }

            .card {
                width: 100%;
            }
        }
    }
}